@font-face {
  font-family: lato-light;
  src: url(../fonts/lato-light.woff);
}
@font-face {
  font-family: lato-regular;
  src: url(../fonts/lato-regular.woff);
}
@font-face {
  font-family: lato-bold;
  src: url(../fonts/lato-bold.woff);
}


*, body, div, p, span, a {
  font-family: 'lato-regular', sans-serif;
  font-size:1em;
}
.f-light {
  font-family: 'lato-light', sans-serif;
  font-weight:lighter;
}
.f-bold {
  font-family: 'lato-bold', sans-serif;
  font-weight:bold;
}

a {
  color: #6ea5e0; /* цвет обычной ссылки */ 
  text-decoration: none; /*  подчеркивание у ссылок */
}
a:visited {
  color: #800080; /* цвет посещённой ссылки */
} 
a:hover {
  color: #6ea5e0;  
  text-decoration: none; 
}

img {
  /*
  border: 1px solid black;
  box-sizing: border-box;
  */
}
body > .centered-block {
  /* общая ширина */
  width:75%;
  text-align:center;
  margin:auto;
}
.centered-block {
  padding: 0.75em;
}
.centered-block * {
  width:100%;
}

h1 {
  font-size: 1.4em;
  font-family: 'lato-bold', sans-serif;
  padding: 0.9em;
}
h2 {
  font-size: 1.3em;
  font-family: 'lato-bold', sans-serif;
  padding: 0.75em;
}


.header img.header {
  display: block;
  width: 100%;
  height: auto;
}

.header a img.header:hover {
  background-color: #FFFAF0;
}

.floated-container {
  margin: auto;
}
.floated-container:after {
  content: "";
  display: table;
  clear: both;
}
.floated-element {
  float:left;
}
/* при наведении */
.floated-element:hover {
  background-color: #FFFAF0;
}
/* текст ссылок под картинками */
.floated-element-text {
  padding:0.25em;
  /* выравнивание текста ссылок под картинками */
  text-align: left;
  color: #393939;
}

.floated-element * {
  width:100%;
}
.quarter .floated-element {
  width:24%;
  padding:0.5%;
}
.one-fifth .floated-element {
  width:19%;
  padding:0.4%;
}
.one-sixth .floated-element {
  width:15%;
  padding:0.4%;
}


#footer {
  padding-top:4em;
  padding-bottom:2em;
  text-align: center;
}


.italic {
  font-style: italic;
}

.centered-text {
  text-align: center;
}

.margin-top-35 {
  margin-top: 1.9em !important;
}

.heart {
  margin-top: 0.8em !important;
  margin-bottom: 0.8em !important;
}

.rel-nav {
  position: fixed;
  top:50%;
  padding:0.25em;
}

.rel-nav img {
  width: 1.75em;
}

.rel-nav-left {
  left:0;
}

.rel-nav-right {
  right:0;
}